body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
    display: grid;
    width: 30%;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 10px;
}

.form span {
    height: 25px;
    padding-left: 50px;
}

.form input {
    height: 25px;
}

.form textarea {
    height: 100px;
}

.form button {
    grid-column-start: 0;
    grid-column-end: 3;
    height: 35px;
}

